QWidget{
    background-color: #23282b;
    border: 1px solid white;
}
QTableView{
    background-color: white;
}
QPushButton{
    border:none;

}
QPushButton#soundlessly{
    border:none;
    border-radius:15px;
    background-color:rgb(255,255,255);
    color:rgb(52,51,64);
}
QLabel#music_name{
    color: white;
    border:none;
}
QLabel#currentTrack{
    background-color: darkorange;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}
QLabel#sonido{
    border:none;
    color: #FF8C00;
}
QLabel#timeStart,#timeEnd{
    border:none;
    color: white;
}

QMenuBar{
    color:white;
}
QMenu{
    color:white;
}
QProgressBar{
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}
QSlider{
  border:none;
}
QSlider::groove:horizontal {
    border: 3px solid rgb(255,0,0);
    height: 30px;

    background: cyan;
    border-radius:18px;
}

QSlider::handle:horizontal {
    background: rgb(52,50,64);
    border: rgb(0,0,255);
    width: 20px;
    margin: -5px 0;
    border-radius: 10px;
}

QSlider::add-page:horizontal {
    background: rgb(200,200,200);
    height: 30px;
    border: 3px solid rgb(255,0,0);
    border-radius: 18px;
}
